{{ define "main" }}
<article class="h-entry">
  <header>
    <a class="u-url" href="{{ .Permalink }}"><h1 class="p-name">{{ .Title }}</h1></a>

    <div class="metadata">
        {{ if and (isset .Params "date") }}
          {{ $publishdate := .PublishDate.Format "January 02, 2006" }}
          {{ if (not (in .Params.categories "pages")) }}
            <time class="dt-published" datetime={{ .PublishDate.Format "2006-01-02 15:04:05-0700" }}>
              {{ $publishdate }}
              {{ with .Params.lastmod }}
                    {{ $lastmod := . | dateFormat "January 02, 2006"}}
                  {{ if ne $publishdate $lastmod }}
              &nbsp;(updated in <span class="dt-updated">{{ $lastmod }}</span>)
                  {{ end }}
              {{ end }}
            </time>
          {{ end }}
        {{ end }}
      &nbsp; by &nbsp;
      <span class="p-author h-card">
        {{ if .Params.author }}
          {{ if reflect.IsSlice .Params.author }}
            {{ range .Params.author }}
              {{ . | safeHTML }}
            {{ end }}
          {{ else }}
            {{ .Params.author }}
          {{ end }}
          {{ else }}
            {{ .Site.Params.author.name }}
        {{ end }}
      </span>
      <data class="u-photo" value='https://{{ absURL "" }}/{{ .Site.Params.author.avatar }}'></data>
      <ul>
        {{ range .Params.tags }}
          <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a> </li>
        {{ end }}
      </ul>

    </div>
  </header>
  <section class="e-content">{{ .Content }}</section>
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ if $related }}
  <section>
    <h2>Related Posts</h2>
    <ul class="related-list">
      {{ range $related }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</article>
{{ end }}
