<div class="h-card">
    <data class="u-photo" value='{{ absURL "" }}{{ .Site.Params.author.avatar }}'></data>
    <data class="u-url" value='{{ absURL "" }}'></data>
    <data class="p-name" value="{{ .Site.Params.author.name }}"></data>
    <data class="p-locality" value="{{ .Site.Params.author.locality }}"></data>
    <data class="p-region" value="{{ .Site.Params.author.region }}"></data>
    <data class="p-country-name" value="{{ .Site.Params.author.country }}"></data>
    <data class="p-note" value="{{ .Site.Params.author.bio }}"></data>
</div>
<p>Copyright {{ now.Year }}. All rights reserved.</p>
