{{ define "main" }}
{{ $author := .Site.Params.author }}
{{ $authorName := "" }}
{{ $authorWebsite := "" }}
{{ if reflect.IsMap $author }}
  {{ $authorName = $author.name }}
  {{ $authorWebsite = $author.website }}
{{ else }}
  {{ $authorName = $author }}
{{ end }}
<article class="h-entry">
  <header>
    <a class="u-url" href="{{ .Permalink }}"><h1 class="p-name">{{ .Title }}</h1></a>

    <div class="metadata">
      {{ i18n "by" }}&nbsp;
      <a rel="author" class="p-author h-card" href='{{ with $authorWebsite }}{{ . }}{{ else }}{{ .Site.BaseURL }}{{ end }}'>
        {{ if .Params.author }}
          {{ if reflect.IsSlice .Params.author }}
            {{ range .Params.author }}
              {{ . | safeHTML }}
            {{ end }}
          {{ else }}
            {{ .Params.author }}
          {{ end }}
          {{ else }}
            {{ $authorName }}
        {{ end }}
      </a>
      &nbsp;{{ i18n "in" }}&nbsp;
      {{ if and (isset .Params "date") }}
        {{ $publishdate := .PublishDate.Format "2006-01-02" }}
        {{ if (not (in .Params.categories "pages")) }}
          <time class="dt-published" datetime={{ .PublishDate.Format "2006-01-02 15:04:05-0700" }}>
            {{ $publishdate }}
          </time>
        {{ end }}
        {{ if .Lastmod }}
          {{ $lastmod := .Lastmod.Format "2006-01-02" }}
          {{ if ne $lastmod $publishdate }}
            <span class="lastmod"> (modified in {{ $lastmod }})</span>
          {{ end }}
        {{ end }}
      {{ end }}
      <ul>&nbsp;
        {{ range .Params.tags }}
          <li>#<a class="p-category" rel="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>

    </div>
  </header>
  <section class="e-content">{{ .Content }}</section>
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ if $related }}
  <section>
    <h2>{{ i18n "Related posts" }}</h2>
    <ul class="related-list">
      {{ range $related }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</article>
{{ end }}
